VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here

VITE_BOD_USERNAME=BOD
VITE_BOD_PASSWORD=YOUR_BOD_PASSWORD
VITE_BOD_NAME=Board of Directors

VITE_PROCUREMENT_USERNAME=PROCUREMENT
VITE_PROCUREMENT_PASSWORD=YOUR_PROCUREMENT_PASSWORD
VITE_PROCUREMENT_NAME=Procurement Team
